<app-nav-bar></app-nav-bar>

<html>
  <head>
    <title>jQuery Show/Hide text Toggle Example</title>
  </head>
  <body class="con">
    <span class="show-text">
      Bonbon bonbon gummi bears pudding. Dessert chupa chups macaroon cookie muffin dessert. Toffee powder candy canes tart lollipop brownie marshmallow chocolate bar. Fruitcake danish sesame snaps biscuit sesame snaps apple pie. Bear claw jelly-o dragée chocolate. Bonbon topping chocolate bar. Dessert chocolate bar pastry tiramisu. Gummi bears gummies brownie jujubes sesame snaps croissant danish. Gummies danish oat cake caramels cotton candy pastry fruitcake sweet. Topping gingerbread biscuit halvah cupcake candy canes sesame snaps.
    </span>
    <br><br>
    <span class="show-text">
      Biscuit brownie powder gummies macaroon cupcake cupcake gummies. Macaroon chocolate cake jelly beans pie gummies sweet macaroon. Brownie chocolate bar brownie chocolate bar sweet roll. Marzipan caramels halvah jelly beans cheesecake muffin pie halvah marzipan. Bonbon caramels tootsie roll pudding cupcake. Lollipop sesame snaps lollipop soufflé jelly beans powder sweet ice cream chocolate cake. Biscuit lollipop biscuit bear claw. Gummies caramels danish wafer. Icing chocolate caramels donut. Chupa chups candy canes bonbon chocolate cake chocolate cake. Fruitcake fruitcake tiramisu. Ice cream sugar plum halvah donut halvah tiramisu cake candy. Bonbon chupa chups dragée sesame snaps oat cake.
    </span>
    <br><br>
    <span class="show-text">
Tart cookie dragée jelly-o tootsie roll lemon drops. Oat cake tart icing oat cake dragée tiramisu gummies caramels muffin. Chupa chups apple pie toffee marzipan ice cream soufflé gummies. Bonbon gummies caramels pie carrot cake. Carrot cake sweet roll soufflé croissant jujubes brownie. Jelly-o gummies cake gingerbread sesame snaps apple pie chocolate fruitcake. Danish tiramisu cake chocolate carrot cake tootsie roll.
    </span>
  </body>
</html>