.wrapper {
	margin-left: var(--sidebar-width);
	transition: all .3s ease-in-out;
  /* background-color: var(--dk-dark-bg); */
}

body {
    background-color: cyan;
    /* text-align: center; */ 
    /* uncomment above line to get the questions to the front */
  }
  
  input[type="text"],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .btn
  {
width: 30%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 500px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    left: 100%;
  }

  input[type="submit"] {
    width: 30%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 500px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    left: 100%;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .cbutton {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    left: 80%;
  }
  