<div class ="text-center">


    <img src="https://thumbs.dreamstime.com/b/sad-cute-smile-tears-his-eyes-vector-illustration-white-background-217830920.jpg" class="rounded float-start" alt="Very Sad Expression" width="300" height="290" style="margin-top: 60px;">
    
    <img src="https://i.pinimg.com/564x/da/26/d8/da26d80c7021a699d3ea87a3374df8c6.jpg" class="rounded float-start" alt="Sad Expression" width="300" height="390">
    
    <img src="https://i.pinimg.com/474x/15/df/a7/15dfa79e8ae843fcc4ac4aa78370d745.jpg" class="rounded float-start" alt="Neutral Expression" width="300" height="390">
    
    <img src="https://us.123rf.com/450wm/zirconicusso/zirconicusso1208/zirconicusso120800037/14848394-sonre%C3%ADr-cara-feliz-en-la-clavija-amarilla.jpg" class="rounded float-start" alt="Happy Expression" width="300" height="390">
    
    <img src="https://img.freepik.com/free-vector/happy-emoji-cartoon-icon-white-background-colorful-design-vector-illustration_24908-9275.jpg" class="rounded float-end" alt="Very happy Expression" width="300" height="390">
</div>
<div class = "buttons">
    <button class="btn btn-primary" style="margin-left: 0px;" type="button" (click)="one()">Very Sad</button>
    <button class="btn btn-primary" style="margin-left: 250px;" type="button" (click)="two()">Sad</button>
    <button class="btn btn-primary" style="margin-left: 250px;" type="button" (click)="three()">Neutral</button>
    <button class="btn btn-primary" style="margin-left: 250px;" type="button" (click)="four()">Happy</button>
    <button class="btn btn-primary" style="margin-left: 250px;" type="button" (click)="five()">Very Happy</button>
</div>
<br><br>
<h1 class = "text-center"> Choose your current mood !</h1>
