<app-nav-bar></app-nav-bar>
<section class="wrapper">
  <div class='chat-wrapper'>


    <div class='chat-message padding'>

      <div class='chat-message chat-message-recipient'>
        <img class='chat-image chat-image-default' src='http://www.michaelmammoliti.com/_projects/chat/_media/img/user1.jpg' />

        <div class='chat-message-wrapper'>
          <div class='chat-message-content'>
            <p>Sushi tonight?</p>
          </div>

          <div class='chat-details'>
            <span class='chat-message-localization font-size-small'>Time</span>
            <span class='chat-message-read-status font-size-small'>- Date</span>
          </div>

        </div>
      </div>


      <div class='chat-message chat-message-sender'>
        <img class='chat-image chat-image-default' src='http://ashwinsaxena.com/favicon.png' />

        <div class='chat-message-wrapper'>
          <div class='chat-message-content'>
            <p>Pizza?</p>
            <p>We had sushi last time!</p>
            <p>For me one Vegetariana! Plus some chili oil on it!</p>
          </div>

          <div class='chat-details'>
            <span class='chat-message-localisation font-size-small'>Time</span>
            <span class='chat-message-read-status font-size-small'>- Date</span>
          </div>

        </div>
      </div>

      
      <div class='chat-message chat-message-recipient'>
        <img class='chat-image chat-image-default' src='http://www.michaelmammoliti.com/_projects/chat/_media/img/user1.jpg' />

        <div class='chat-message-wrapper'>
          <div class='chat-message-content'>
            <p>Done. Delivery takes 5 minutes!</p>
          </div>

          <div class='chat-details'>
            <span class='chat-message-localisation font-size-small'>Time</span>
            <span class='chat-message-read-status font-size-small'>- Date</span>
          </div>

        </div>
      </div>

      
      <div class='chat-message chat-message-sender'>
        <img class='chat-image chat-image-default' src='http://ashwinsaxena.com/favicon.png' />

        <div class='chat-message-wrapper'>
          <div class='chat-message-content'>
            <p>Awesome! See you later! : )</p>
          </div>

          <div class='chat-details'>
            <span class='chat-message-localization font-size-small'>Time</span>
            <span class='chat-message-read-status font-size-small'>- Date</span>
          </div>

        </div>
      </div>

      
    </div>
    
  </div>

  <!-- <div class="col-lg-10">
    <div class="form-group">
        <label>Text area</label>
        <textarea class="form-control" rows="3"></textarea>
        <button type="submit">Send</button>
    </div>
</div> -->
<div class="col-lg-8 form-group">
<div class="container box">
    <div class="container inside">
      <div class="left">
        <input class="comment" type="text" placeholder="Write a comment..."/>
        <button class="button insert" type="button">Insert a comment</button>
      </div>
    </div>
</div>
</div>
<!-- <div class="form-group ">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div> -->

  
</section>

